<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Cell View template.</string>
	<key>Summary</key>
	<string>Template for collection cell, used for both UICollectionViewCell and UITableViewCell</string>
	<key>SortOrder</key>
	<string>50</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>Cell</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Class:</string>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>CollectionViewCell</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>viewModel</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>ViewModel:</string>
			<key>Description</key>
			<string>The class of the associated View Model</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>ViewModel</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
